<!DOCTYPE html>
<html lang="en-us">

  <%- partial('_partial/head') %>

  <body class="<%- config.theme_class %>">

    <%- partial('_partial/sidebar') %>

    <div class="content container">
      <%- body %>
    </div>

    <div class="footer-container">
      &nbsp;
      <p class="mobile-footer">&copy; <%= new Date().getFullYear() %> <%= config.author || config.title %></p> 
    </div>
    
  </body>
</html>
